* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  background-color: red;
  color: white;
  padding-left: 45px;
}
#site-name,
#site-name a {
  color: white;
  text-decoration: none;
  margin: auto;
  padding: 10px 15px;
}
h4 {
  color: grey;
}
#image {
  display: flex;
  width: 25%;
  flex-direction: row;
  margin-top: 37px;
}
section {
  border: 1px solid black;
  text-align: justify;
  padding: 25px;
  display: flex;
  width: 80%;
  gap: 10px;
}
p {
  /*border: 1px solid black;
  border-collapse: collapse;*/
  padding: 15px;
}
footer {
  background-color: red;
  color: white;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
}

footer a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
